[App_Display]
# value: "Auto" or "zh_CN" or "en_US"
App_Language = Auto

[App_Optimiz]
# Maximum number of processes that read files
# value: must > 0 or "Auto"
Max_Processes = Auto

[App_logging]
App_Main_Level = "INFO"